.container
  %h2 About me...

  %h3 Teacher
  %p
    I am currently on hiatus from my job teaching Ruby on Rails with
    %a{:href => "http://devbootcamp.com"} Dev Bootcamp
    in Chicago for nine weeks.
  %p
    I taught and assisted with intro to programming/Ruby classes for
    %a{:href => "http://girldevelopitcbus.com/"} GDI Columbus
    in 2011-2012.
    %a{:href => "http://girldevelopit.com/"} Girl Develop It
    is a program hoping to change the way software and web development is taught for both women and men.

  %h3 Lover of bicycles
  %p If I'm not in front of a computer I'm probably out on my bicycle. 
  %ul
    %li
      In 2014 I did my first
      %a{:href => "http://ragbrai.com/"} RAGBRAI
      where I cycled across Iowa with 10,000 other people.
    %li
      In October 2012 I left my job at EdgeCase to set out on a solo bike tour for three months in New Zealand, riding nearly 3,000 miles. During that time I blogged (almost) every day and took heaps of photos.
      %a{:href => "http://bikesnotboxes.com"} Read my story here.
      Or you can just look at the
      %a{:href => "http://www.flickr.com/photos/twymer/"} pretty pictures.
    %li
      In 2011 I rode in
      %a{:href => "http://pelotonia.org/"} Pelotonia,
      a charity ride for cancer research and raised $1630 for the cause.

  %h3 Traveler

  %p Countries I've been to:
  %ul
    %li New Zealand -- 3 months
    %li Kenya -- 1.5 weeks
    %li Tanzania -- 2.5 weeks
    %li Guatemala -- 1 month
    %li South Africa -- 1 week
    %li Zambia -- 3 weeks

  %h3 Vim wizard
  %ul
    %li
      My config can be found
      %a{:href => "https://github.com/twymer/dotfiles"} here
      along with all of my other unix config files.
    %li
      Apparently I love Vim so much, I decided it would be a good idea to start an entire user group devoted to it (
      %a{:href => "http://vim-columbus.github.com/"} Vim Columbus
      ). We spent time sharing our configs and workflows as well as competing
      in
      %a{:href => "http://vimgolf.com/"} Vim Golf
      as a group.

  %h2 Places I can be found on the internet
  .row.grid
    .span12
      %a{:href => "http://github.com/twymer"}
        %img.github-logo{:src => "images/github_logo_social_coding_outlined.png"}
  .row.grid
    .span12
      %a{:href => "http://www.twitter.com/twymer"}
        %img{:src => "images/social_buttons/twitter_32.png"}
      %a{:href => "https://vimeo.com/user11465873"}
        %img{:src => "images/social_buttons/vimeo_32.png"}
      %a{:href => "http://news.ycombinator.com/user?id=twymer"}
        %img{:src => "images/social_buttons/hn_32.png"}
      %a{:href => "https://www.flickr.com/photos/twymer/"}
        %img{:src => "images/social_buttons/flickr_32.png"}
      %a{:href => "http://forrst.com/people/twymer"}
        %img{:src => "images/social_buttons/forrst_32.png"}
      %a{:href => "http://www.linkedin.com/pub/tyler-wymer/14/3a5/807"}
        %img{:src => "images/social_buttons/linkedin_32.png"}
      %a{:href => "http://www.youtube.com/channel/UC1ivIThjgXgjXTmXwFWTAdw/videos"}
        %img{:src => "images/social_buttons/youtube_32.png"}


  %h2 Conferences you might find me at
  %ul
    %li
      %a{:href => "http://www.notacon.org/"} Notacon
    %li
      %a{:href => "http://codemash.org/"} CodeMash
    %li
      %a{:href => "http://ohiolinux.org"} Ohio LinuxFest
    %li
      %a{:href => "http://rubyconf.org/"} RubyConf
    %li
      %a{:href => "http://pyohio.org/"} PyOhio
