.container
  %h2 What I'm up to lately

  %h3 On Sabbatical
  %p
    In October 2012 I left my job at EdgeCase to set out on a solo bike tour for three months in New Zealand.
    %a{:href => "http://www.bikesnotboxes.com"} Read my story.

  %h3 (Still) taking classes
  %ul
    %li
      %a{:href => "http://www.cse.ohio-state.edu/~crawfis/cse788ProceduralWorlds/Topics.htm"} Procedural Worlds and Game World Creation
      at Ohio State in Winter 2012.
    %li
      Compiler class from Coursera in Spring 2012 (
      %a{:href => "http://www.coursera.org/course/compilers"} link
      ).
    %li
      Free online machine learning class from Stanford in Fall 2011. (
      %a{:href => "http://www.ml-class.org"} ml-class.org
      ).

  %h3 Talking (arguing) about Vim
  %p
    Apparently I love Vim so much, I decided it would be a good idea to start an entire user group devoted to it (
    %a{:href => "http://vim-columbus.github.com/"} Vim Columbus
    ). My config can be found
    %a{:href => "https://github.com/twymer/dotfiles"} here
    along with all of my other unix config files.

  %h3 Teaching
  %p
    I taught and assisted with intro to programming/Ruby classes for
    %a{:href => "http://girldevelopitcbus.com/"} GDI Columbus
    in 2011-2012.
    %a{:href => "http://girldevelopit.com/"} Girl Develop It
    is a program hoping to change the way software and web development is taught for both women and men.

  %h2 Places I can be found on the internet
  .row.grid
    .span12
      %a{:href => "http://github.com/twymer"}
        %img.github-logo{:src => "images/github_logo_social_coding_outlined.png"}
  .row.grid
    .span12
      %a{:href => "http://www.twitter.com/twymer"}
        %img{:src => "images/social_buttons/twitter_32.png"}
      %a{:href => "http://forrst.com/people/twymer"}
        %img{:src => "images/social_buttons/forrst_32.png"}
      %a{:href => "http://news.ycombinator.com/user?id=twymer"}
        %img{:src => "images/social_buttons/hn_32.png"}
      %a{:href => "http://www.linkedin.com/pub/tyler-wymer/14/3a5/807"}
        %img{:src => "images/social_buttons/linkedin_32.png"}
      %a{:href => "http://www.youtube.com/channel/UC1ivIThjgXgjXTmXwFWTAdw/videos"}
        %img{:src => "images/social_buttons/youtube_32.png"}
      %a{:href => "https://vimeo.com/user11465873"}
        %img{:src => "images/social_buttons/vimeo_32.png"}


  %h2 Conferences you might find me at
  %ul
    %li
      %a{:href => "http://www.notacon.org/"} Notacon
    %li
      %a{:href => "http://codemash.org/"} CodeMash
    %li
      %a{:href => "http://ohiolinux.org"} Ohio LinuxFest
    %li
      %a{:href => "http://rubyconf.org/"} RubyConf
    %li
      %a{:href => "http://pyohio.org/"} PyOhio
