// Move body down to prevent overlap with navbar
body
  padding-top: 50px

// General tweaks
.row.grid
  margin-top: 10px
  margin-bottom: 20px

.row.pics
  img
    height: 220px

// Hacks to mimic marked.app .md render
li > p:first-child
  margin: 0

ul ul,ul ol
  margin-bottom: .4em
