/* Move body down to prevent overlap with navbar */
body {
  padding-top: 50px;
}

/* General tweaks */
.row.grid {
  margin-top: 10px;
  margin-bottom: 20px;
}

.pics img {
  height: 220px;
}
.pics img.big {
  height: 340px;
}

.container.projects hr{
  margin: 28px 0 24px 0;
}

.github-logo {
  height: 50px;
}
